# Logs
logs
*.log
npm-debug.log*

# package-json
package-json.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz
dist/
_/

# dotenv environment variables file
.env
.env.test
.searchunit.yaml

# Other files
.DS_Store
.idea/
tmp/
docs/code-review/
